# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [146]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv '
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [147]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### 3) See the first 10 entries

In [148]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [149]:
df.shape

(4622, 5)

### 5) What is the number of columns in the dataset?

In [150]:
len(df.columns)

5

### 6) Print the name of all the columns.

In [151]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [152]:
# counting quantity as well
# oifa = np.array([[i,df[df['item_name']==i]['quantity'].sum()] for i in df.item_name.unique()])
# oifdf = pd.DataFrame(oifa, columns=['items','orders'])
# oifdf['orders'] =oifdf['orders'].astype('int32')
# oifdf.sort_values(by = ['orders'], ascending=False, inplace = True)
# oifdf.reset_index(inplace=True)
# oifdf['items'][0]

df['item_name'].value_counts().index[0]

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [153]:
# counting quantity as well
# oifdf['orders'][0]

df['item_name'].value_counts()[0]

726

### 9) What was the most ordered item in the choice_description column?

In [154]:
df['choice_description'].value_counts().index[0]

'[Diet Coke]'

### 10) How many items were ordered in total?

In [155]:
df['choice_description'].value_counts()[0]

134

### 11) Turn the item price into a float

In [156]:
df['item_price'] = df['item_price'].map(lambda s : float(s[1:]))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [160]:
rev=(df['quantity']*df['item_price']).sum()
rev

39237.02

### 13) How many orders were made in the period?

In [161]:
df.shape[0]

4622

### 14) What is the average revenue amount per order?

In [162]:
rev/(df.shape[0])

8.48918649935093

### 15) How many different items are sold?

In [163]:
len(df.item_name.unique())

50